@model CCC.website.Models.PageModelBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/website.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">website</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Hello/Index">Hello</a>
                        </li>

                        @if (Model.DisplayCurrentError || Model.DisplayPreviousError)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Error
                                </button>
                                <ul class="dropdown-menu">
                                    @if (Model.DisplayCurrentError)
                                    {
                                        <li class="dropdown-item">@Html.DisplayFor(model => model.CurrentPageErrorMessage)</li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li class="dropdown-item">url: @Html.DisplayFor(model => model.CurrentPageAction)</li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    }
                                    @if (Model.DisplayPreviousError)
                                    {
                                        <li class="dropdown-item">@Html.DisplayFor(model => model.PreviousPageErrorMessage)</li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li class="dropdown-item">url: @Html.DisplayFor(model => model.PreviousPageAction)</li>
                                    }
                                </ul>
                            </div>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Bike Route
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link text-dark"
                                        asp-page="/BikeRoutes/Index">Overview</a>
                                </li>
                                <li><a class="dropdown-item nav-link text-dark" asp-page="/BikeRoutes/Create">Create
                                        New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Group Ride
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link text-dark"
                                        asp-page="/GroupRides/Index">Overview</a>
                                </li>
                                <li><a class="dropdown-item nav-link text-dark" asp-page="/GroupRides/Create">Create
                                        New</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Ride Event
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link text-dark"
                                        asp-page="/RideEvents/Index">Overview</a>
                                </li>
                                <li><a class="dropdown-item nav-link text-dark" asp-page="/RideEvents/Create">Create
                                        New</a>
                                </li>
                                <li><a class="dropdown-item nav-link text-dark" asp-page="/RideEvents/ListView">List
                                        View</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>