@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@using CCC.Authorization

@{
    bool DisplayCurrentError = false;
    bool DisplayPreviousError = false;
    string? PreviousPageErrorMessage = null;
    string? CurrentPageErrorMessage = null;
    string? PreviousPageAction = null;
    string? CurrentPageAction = null;
    bool showCrudOperations = false;
    bool showUserAdminOperations = false;

    if(Model is CCC.website.Models.PageModelBase smartModel)
    {
        DisplayCurrentError = smartModel.DisplayCurrentError;
        DisplayPreviousError = smartModel.DisplayPreviousError;
        CurrentPageErrorMessage = smartModel.CurrentPageErrorMessage;
        CurrentPageAction = smartModel.CurrentPageAction;
        PreviousPageErrorMessage = smartModel.PreviousPageErrorMessage;
        PreviousPageAction = smartModel.PreviousPageAction;
        showCrudOperations = User.ShowCrudOperations();
        showUserAdminOperations = User.IsAdmin() || User.IsCoordinatorAdmin();
    }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCC Rides</title>
    @RenderSection("StyleSheets", false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/website.styles.css" asp-append-version="true" />
    @RenderSection("AdditionalStyleSheets", false)
</head>

<body>
    <header>
            @* from the example *@
            @* <nav class="navbar navbar-expand-md bg-body-tertiary"> *@
            @* from the template *@
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container"> @*was fluid*@
                    <a class="navbar-brand" href="/Index">Calendar of Rides</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/BikeRoutes/Index">All Routes</a>
                            </li>
                        @if (DisplayCurrentError || DisplayPreviousError)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Error
                                </a>
                                <ul class="dropdown-menu">
                                    @if (DisplayCurrentError)
                                    {
                                        <li class="dropdown-item">@Html.DisplayFor(modelItem => CurrentPageErrorMessage)</li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="dropdown-item">url: @Html.DisplayFor(modelItem => CurrentPageAction)</li>
                                        <li><hr class="dropdown-divider"></li>
                                    }
                                    @if (DisplayPreviousError)
                                    {
                                        <li class="dropdown-item">@Html.DisplayFor(modelItem => PreviousPageErrorMessage)</li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="dropdown-item">url: @Html.DisplayFor(modelItem => PreviousPageAction)</li>
                                    }
@* 
                                    <li><a class="dropdown-item" href="#">error 1</a></li>
                                    <li><a class="dropdown-item" href="#">error 2</a></li>
                                    <li><a class="dropdown-item" href="#">error 3</a></li> *@
                                </ul>
                            </li>
                        }
                            <li class="nav-item">
                                <a class="nav-link" href="/Hello">API Status</a>
                            </li>
                        @if(showCrudOperations)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    Create
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/BikeRoutes/Create">Bike Route</a></li>
                                    <li><a class="dropdown-item" href="/RideEvents/Create">Ride Event</a></li>
                                    <li><a class="dropdown-item" href="/GroupRides/Create">Group Ride</a></li>
                                </ul>
                            </li>
                        }
                        @if(showUserAdminOperations)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    User Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/Users/Index">User Management</a></li>
                                </ul>
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>