@model CCC.Entities.CueEntry

<div class="col">
    @Html.DisplayFor(model => model.Operation)
</div>
<div class="col">
    @Html.DisplayFor(model => model.StreetName)
</div>
<div class="col">
    @Html.DisplayFor(model => model.Notes)
</div>
<div class="col">
    @Html.DisplayFor(model => model.MileMarker)
</div>
<div class="col">
    @Html.DisplayFor(model => model.Notes)
</div>
