@model CCC.Entities.GroupRide
Details ;)
<div class="row">
    <div class="col">
        @Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.RideType): @Html.DisplayFor(model => model.RideType)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.BikeRouteId): @Html.DisplayFor(model => model.BikeRouteId)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.RideEventId): @Html.DisplayFor(model => model.RideEventId)
    </div>
</div>