@model CCC.Entities.GroupRide

<div class="row">
    <div class="col">
        @Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.RideType): @Html.DisplayFor(model => model.RideType)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.BikeRouteId): @Html.DisplayFor(model => model.BikeRouteId)
    </div>
    <div class="col">
        @Html.DisplayNameFor(model => model.RideEventId): @Html.DisplayFor(model => model.RideEventId)
    </div>
</div>
@foreach (var key in Model.Coordinators.Keys)
{

    <div class="row">
    <div class="col">
        <div class="col">
            Role: @Html.DisplayFor( modelItem => key)
        </div>
        @if( (bool)(ViewData["ShowSignupButton"] ?? false))
        {
            <div class="col">
                <button onclick="signup('@key', '@Model.Id')" @(Model.Coordinators[key].RequiredCountMet ? "disabled" : "") >Signup</button>
            </div>
        }
    </div>
    <div class="col">
        @Html.DisplayFor( modelItem => Model.Coordinators[key], "CoordinatorEntryDetails")
    </div>
</div>
}
 