@page
@model CCC.website.Pages.Events.CreatePageModel

@section Scripts
{
    <script>
        $(function() {
            var date = new Date();
            var offset = date.getTimezoneOffset();
            console.log( "offset ", offset);
            document.getElementById("TimeZoneOffset").value=offset
    });
    </script>
}
<div class="row">
    Create a new event
</div>

<form method="post">
    <div class="form-group">
        @Html.LabelFor(model => Model.CreateModel.Name)
        <small id="name" class="form-text text-muted"> - What's the name of the event?</small>
        @Html.EditorFor(model => Model.CreateModel.Name, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    @placeholder = "name"
                }
            })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.CreateModel.Description)
        <small id="desciption" class="form-text text-muted"> - Provide a description of the event</small>
        @Html.EditorFor(model => Model.CreateModel.Description, new
            {
                htmlAttributes = new { @class = "form-control" }
            })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.Date)
        <small id="desciption" class="form-text text-muted"> - When At?</small>
        <input class="form-control" type="date" data-val="true" data-val-required="The Date field is required" asp-for="@Model.Date"  />
        <input class="form-control" type="time" data-val="true" data-val-required="The Time field is required" asp-for="@Model.Time"  />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.CreateModel.Location)
        <small id="desciption" class="form-text text-muted"> - Where at</small>
        @Html.EditorFor(model => Model.CreateModel.Location, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <input type="hidden" asp-for="TimeZoneOffset" />
    
    <input class="btn btn-primary" id="Submit" type="submit" value="submit" />
</form>