@page "{id:guid}"
@model CCC.website.Pages.BikeRoutes.DetailsPageModel
@using CCC.Authorization

@{
    ViewData["Title"] = "Route Listing";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1><span class="ccc-green">@Html.DisplayFor(model => Model.BikeRoute.Name)</span> - <span class="ccc-pink">@Model.BikeRoute.Distance miles</span></h1>
            <div>@Html.DisplayFor(model => Model.BikeRoute.Description)</div>
        </div>
    </div>
    @if(User.ShowCrudOperations())
    {
    <div class="row mt-2">
        <div class="col">
            <a asp-page="Edit" asp-route-id=@Model.BikeRoute.Id>Edit</a>
        </div>
    </div>
    }
    <div class="row mt-3">
        <div class="col">
            <h4>
            Turn by Turn listing <small class="text-muted">Don't Get Lost!</small>
            </h4>
        </div>
    <div class="row mt-1">
        <div class="col">
            @Html.DisplayFor(modelItem => Model.BikeRoute,"CueTablePrintView")
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            @Html.DisplayFor(modelItem => Model.BikeRoute,"CueTableView")
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            @Html.Raw(Model.BikeRoute.RideWithGpsEmbed)
        </div>
    </div>
</div>
