@model CCC.Entities.GroupRideCreateModel
@using CCC.Entities
@using CCC.website.Models

<div class="row">
    <div class="col-1">
        @Html.DisplayNameFor( m => m.RideType)
    </div>
    <div class="col-2">
        <div class="col">
            <select name="RideType" asp-items='EnumHelper.SelectListForEnum<RideType>()'>
                <option disabled selected value="">Select an operation </option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1">
        @Html.DisplayNameFor( m => m.BikeRouteId)
    </div>
    <div class="col-2">
        @if(ViewData["BikeRoutes"] != null)
        {
            var list = (SelectList) (ViewData["BikeRoutes"] ?? new SelectList(new List<SelectListItem>(),"Value","Text"));

            <div class="col-3">
                <select id="BikeRouteId" name="BikeRouteId"  asp-items='list'>
                <option value="">Select a Bike Route </option>
                </select>        
            </div>
        }
        else
        {
            @Html.EditorFor( m => m.BikeRouteId)
        }        
    </div>
</div>

<div class="row">
    <div class="col-1">
        @Html.DisplayNameFor( m => m.RideEventId)
    </div>
    <div class="col-2">
        @if(ViewData["ParentEvents"] != null)
        {
            var list = (SelectList) (ViewData["ParentEvents"] ?? new SelectList(new List<SelectListItem>(),"Value","Text"));

            <div class="col-3">
                <select id="RideEventId" name="RideEventId"  asp-items='list'>
                <option value="">Select a parent event </option>
                </select>        
            </div>
        }
        else
        {
            @Html.EditorFor( m => m.RideEventId)
        }
    </div>
</div>


